* {
    font-family: "Quicksand", sans-serif;
}

.gradient-custom-2 {
    background: #1c67bc;
    /* background: linear-gradient(to right, #0072ff, #014fcd, #014ecb, #0037a4); */
    background: linear-gradient(to right, #185e95, #0c3f67)
}

.text-white img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }

    .text-white img {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}
